@model ApplicationCore.Models.JobResponseModel

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfPositions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPositions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DropDownListFor(model => model.StartDate, new SelectList(new[] { true, false })
                , new { disabled = "disabled" })
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt class="col-sm-2">
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Submission" asp-action="Create" class="btn btn-primary">Apply</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>